form {
  border: 2px solid gray;
  border-radius: 4px;
  background: #777;
  color: #ccc;
  display: flex;
  padding: 0.5rem;
}

input {
  border: none;
  flex: 1 0 1px;
  background: none;
}

input::placeholder {
  color: lightgray;
}

button {
  padding: 0.25rem 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none
}

form:focus-within {
  outline: 2px solid #ccc; 
}

p {
  white-space: pre-wrap;
}

@media (prefers-color-scheme: light) {
  form {
    background: #efefef;
  }

  form:focus-within {
    outline: 2px solid black; 
  }

  input::placeholder {
    color: gray;
  }
}
